@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Pen+Script&display=swap');

h1 {
	font-family: 'Nanum Pen Script', cursive;
}

p {
	font-family: 'Indie Flower', cursive;
}

#original {
	font-family: sans-serif;
}