<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ASCII</title>
</head>
<body>
    <form action="ascii/make">
        <input type="text" name="targetText">
        <select name="targetFont">
            {% for font in fonts %}
                <option value="{{ font }}">{{ font }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="아스키 아트 만들기">
    </form>
</body>
</html>