<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SCRIPT TEST</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>요소1</div>
    <div>요소2</div>
    <div>요소3</div>
    <div>요소4</div>
    <div>요소5</div>

    <form>
        <input type="text" class="form-control" id='articleForm'>
        <input type="text" class="form-control" id='commentForm'>
    </form>

    <div class="commentList">
        <ul class="list-group">
            <li class="list-group-item"> 
                첫번째 댓글 입니다. 
                <button class="btn btn-info">수정</button>
            </li>
            <li class="list-group-item"> 
                두번째 댓글 입니다.
                <button class="btn btn-info">수정</button>
            </li>
            <li class="list-group-item"> 
                세번째 댓글 입니다.
                <button class="btn btn-info">수정</button>
            </li>
            <li class="list-group-item"> 
                네번째 댓글 입니다.
                <button class="btn btn-info">수정</button>
            </li>
            <li class="list-group-item"> 
                다섯번째 댓글 입니다.
                <button class="btn btn-info">수정</button>
            </li>
        </ul>
    </div>
</body>

<script>
</script>
</html>