<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Day Daum Webtoon List</title>
</head>
<body>
    <ul>
    {% for key, value in webtoon_dic.items() %}
        <li>
            <h4><a href="/webtoon/{{ value[0] }}">{{ key }}</a></h4>
            <h5>{{ value[1] }}</h5>
            <h5>{{ value[2] }}</h5>
        </li>
    {% endfor %}
    </ul>
</body>
</html>